.main-header{
    background-color: #ea2423;
    color:white;
    padding: 3vh  ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .hot_thuesday{
        width: 30vw;
        height: 8vw;
        margin-bottom: 1vw; 
        margin-right: 5vw;
        position: relative;
    }

    .free{
        width:6vw ;
        height:5vw ;
        margin: 0 4vw; 
        margin-bottom: -3vh;
    }

    .prc80{
        height:8vw ;
        width: 15vw;
        margin-right: 3vw;
        
    }

    .counter{
        
        width: 20vw;
        height: 8vw;
        margin-right: 4vw; 
        border: 0.1vw solid #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        font-size: 0.8vw;
        
        .attention{  
                       
           
            font-weight: 300;
            line-height: 1.5vw;
            text-transform: uppercase;
            display: block;
            align-self: center;
            margin-bottom: -3vw ;
        }

        .data{
            display: flex;
            justify-content: space-around;
            .time-part{
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 3vw ;
                
                .time{
                    display: flex ;
                    justify-content: center;
                    font-size: 2em;
                    font-weight: 700;
                    
                }
                .time-label{
                    color: #2c2423;
                    font-weight: 700;
                }
            }
            

        }
       
    }
}


@media only screen and (max-width: 768px) {
    .main-header{
        flex-direction: column;
        align-items: center;       
        
        .prc80{
            align-self:flex-start ;
            margin-top: 4vw;
            margin-left: 16vw;
            width: 28vw;
            height:18vw ;
            order:2;
            
        }
        .free{
            order:3;
            width: 13vw;
            height: 10vw;
            margin-left: 35vw;
            padding:  5vw;              
                     
        }
        .counter{
            width: 60vw;
            height: 20vw;;
            order:1 ;
            margin: 3vw 0;
            font-size: 3vw;
            
        }
        
    }
    
} 