//Main Content
main{
    font-size: 0.9vw;
    .sectionNote{
        display: flex;
        justify-content: space-between;        
        .item{
            margin:1vw ;            
            display: flex;
            justify-content: center;
            align-items: center;
            strong{
                margin-left: 0.5vw;
                display:block;
            }
            img{
                height:1vw ;
                width: 1vw;
                display: block;
                margin-right: 0.5vw;
            }
            &.item1{
                text-transform: uppercase;
            }
            &.item2{
                font-size: 0.9em;
            }
        }
    }

    .sectionChoose{
        display: flex;
        justify-content: flex-end;
        font-size: 1.5em;         
        .choose{
            margin:1vw 8vw;                                
            .show{
                border: 0.1vw solid #ebebeb;
                font-size: .9em;
                width: 5vw;
                height:3vw ;
                font-family: "Gotham - Book";
                
            }
        }
    }
    
    .sectionPurchase{
        width: 80vw;
        margin:auto;
        display: flex;
        flex-wrap: wrap;            
        .block{
            margin:3vw;
            flex-basis: 25%;
            height: 25vw;           
            border: 0.1vw solid #ebebeb;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-end;            
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            .mainImg{
                height:40% ;
                width: 100%;
                margin-bottom:5%; 
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .prices{
                display: flex;
                margin: 1vw;
                .actual{
                    color: #ff0000;
                    margin-right:1vw;                    
                    font-weight: 700; 
                    font-size: 1.5em;
                }
                .deprecate{
                    font-weight: 400;
                    color: #1a171b;                    
                }
            }

            .title{
                display: flex;
                flex-direction: column;
                margin: 0 1vw;
                height:15%; 
                .main-title{
                    font-size: 0.9em;
                    margin-bottom: 0.2vw;
                }
                .secend-title{
                    font-size: 0.8em;
                    color: #9f9f9f;
                }
            }

            .blockBar{
                position: absolute;
                top:0;
                height:7% ;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size:1.2em;
                img{
                    height: 1vw ;
                    width: 1vw;
                    display: block;
                }
                .amount{
                    margin-left: 0.5vw;
                }
            }
            .amountBar{                
                left:0;                
                width:40% ;
                font-size:1.2em;               
            }
            .outletBar{
                right:0 ;
                width:60% ;                 
                border: 0.1vw solid #ff0000;
                color: #ff0000;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    main{
        font-size: 1.6vw;
        .sectionChoose{
            font-size: 1.5em;
            .choose{
                .show{
                    width: 8vw;
                    height: 5vw;
                }
            }
        }

        .sectionPurchase{
            .block{
                margin-left:5vw;
                margin-right:5vw;
                flex-basis: 35%;
                height: 35vw;
                .blockBar{
                    font-size: 0.8em;
                }

                .title{
                    margin-bottom: 3vw;
                }
            }
        }
        
    }
}

